six
future
mkdir-p
h5py
bistiming>=0.1.1
numpy
scipy
networkx>=2
pyyaml
tables
pandas
h5sparse>=0.0.5
frozendict>=1.2

# for testing
tox
nose
coverage
flake8
pylint

# for example
scikit-learn
# for Python 2: progressbar
# progressbar
# for Python 3: progressbar33
progressbar33

# for documentation
sphinx
